#map {
    height: 500px;
    width: 100%;
}

.gm-style .gm-style-iw-d::-webkit-scrollbar-track,
.gm-style .gm-style-iw-d::-webkit-scrollbar-track-piece,
.gm-style .gm-style-iw-c,
.gm-style .gm-style-iw-t::after {
    background: rgb(148, 129, 129);
}

.gm-style .gm-style-iw-t img {
    width: 100px;
}
#table{
    border-spacing: 0;
}
#tbody>tr>td{
    padding: 10px;
}

